<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Wiki Note: htmx - Gabriel Ong">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../style.css">
  <link rel="preload" href="https://res.hajimehoshi.com/fonts/SuisseIntl-Regular-WebXL.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="https://res.hajimehoshi.com/fonts/SuisseIntlMono-Regular-WebXL.woff2" as="font" crossorigin="anonymous">
  <style>
    .thin-space:after{content:"\2006"}
    pre {
      overflow-x: auto;
      max-width: 100%;
    }
  </style>
  <script src="../script.js" defer></script>
  <title>GABRIEL ONG</title>
  <link rel="shortcut icon" href="../asset/blob.ico" type="image/x-icon">
</head>
<body>
  <div id="click-container"></div>
  <input type="button" id="dark-mode">
  <label for="dark-mode">
    <img id="infinityButton" src="../asset/roller.png" height="24" width="24"/>
  </label>

  <main>
    <article class="overallArticleTags">

      <section class="note-header">
        <h2>htmx</h2>

        <dl>
          <dt>File size</dt>
          <dd>4.9KB</dd>

          <dt>Lines of code</dt>
          <dd>110</dd>
        </dl>
      </section>

      <section class="note-content">
        <h1><code>htmx</code></h1>
<p>JavaScript library that enables access to modern browser features directly from HTML.</p>
<h2>Introduction</h2>
<ul>
<li>lightweight library that integrates AJAX, CSS Transitions, WebSockets and Server-Sent Events (SSEs)</li>
<li>used to build dynamic, interactive web apps without the weight of a full client-side framework</li>
<li>behaviour is defined with HTML attributes</li>
</ul>
<h2>Quickstart</h2>
<pre class="codehilite"><code class="language-html">&lt;!-- ----- QUICKSTART ----- --&gt;
    &lt;!-- htmx interacts with  --&gt;
        &lt;!-- server-side data structures (JavaScript objects like JSON) --&gt; 
        &lt;!-- client-side DOM structure (standard HTML elements) --&gt;
        &lt;!-- eg. use JSON data returned from the server to update DOM elements --&gt;
    &lt;!-- below is an annotated example of html incorporating htmx behaviours --&gt;

&lt;!-- --- HTMX SYNTAX OVERVIEW --- --&gt;

&lt;!-- - CORE ATTRIBUTES - --&gt;
    &lt;!-- htmx is included within the &lt;script&gt; tags of your HTML file under the specified src attribute --&gt;
    &lt;!-- hx-get =&gt; issues a GET request to the specified URL --&gt;
    &lt;!-- hx-post =&gt; issues a POST request to the specified URL --&gt;
    &lt;!-- hx-put =&gt; issues a PUT request --&gt;
    &lt;!-- hx-delete =&gt; issues a DELETE request --&gt;
    &lt;!-- hx-swap =&gt; specifies how a given response should be swapped into the DOM to replace an existing DOM element --&gt;
    &lt;!-- hx-trigger =&gt; specifies an event that triggers the given request --&gt;
    &lt;!-- hx-target =&gt; specifies the target HTML element where a given response should be assigned --&gt;

&lt;script src=&quot;https://unpkg.com/htmx.org&quot;&gt;&lt;/script&gt;

&lt;button hx-get=&quot;/example&quot; hx-trigger=&quot;click&quot;&gt;Click me&lt;/button&gt; &lt;!-- this button sends a GET request when clicked --&gt;

&lt;form hx-post=&quot;/submit&quot; hx-trigger=&quot;submit&quot; hx-target=&quot;#response&quot;&gt; &lt;!-- the hx-target attribute specifies the response will be placed in the HTML element with id=&quot;response&quot; --&gt;
    &lt;input type=&quot;text&quot; name=&quot;data&quot; placeholder=&quot;Enter some data&quot;&gt;
    &lt;button type=&quot;submit&quot;&gt;Submit&lt;/button&gt; &lt;!-- this form sends a POST request when submitted --&gt;
&lt;/form&gt;

&lt;div hx-get=&quot;/content&quot; hx-swap=&quot;innerHTML&quot; hx-trigger=&quot;load&quot;&gt; &lt;!-- this div swaps its content with the response from a GET request --&gt;
    Loading content...
&lt;/div&gt;

&lt;button hx-get=&quot;/data&quot; hx-trigger=&quot;click&quot; hx-target=&quot;#data-container&quot;&gt;Load Data&lt;/button&gt;
&lt;div id=&quot;data-container&quot;&gt;&lt;/div&gt; &lt;!-- this updates the DOM element with id=&quot;data-container&quot; using JSON data from the server --&gt;
</code></pre>

<h2>More on</h2>
<ul>
<li><a href="https://htmx.org/">htmx.org</a></li>
<li><a href="https://htmx.org/docs/">htmx documentation</a></li>
<li><a href="https://youtu.be/x7v6SNIgJpE?si=QCnZhdS9RhaC1612">full introduction to htmx using golang</a></li>
<li><a href="https://hypermedia.systems/">htmx and hyperview with hypermedia systems</a></li>
<li><a href="https://youtu.be/wIzwyyHolRs?si=InF9hOtViCNj0Z9K">from react to htmx</a></li>
<li><a href="https://www.reddit.com/r/htmx/">r/htmx</a></li>
<li><a href="https://learnxinyminutes.com/docs/html/">learn html in y minutes</a></li>
</ul>
      </section>

    </article>

    <footer>
      <p>© 2023-<span id="current-year"></span> Gabriel Ong. All rights reserved.</p>
    </footer>
  </main>

  <div class="wrapper"></div>
</body>
</html>
