{% extends "base.html" %}
{% block canonical %}
  <link rel="canonical" href="https://gabrielongzm.com/personal-wiki/">
{% endblock %}
{% block content %}
      <section class="introductionPortion">
        <h2>Gabriel's Personal Wiki</h2>
        <p><i>My notes from the things I've learnt. Available as a <a href="https://github.com/gongahkia/personal-wiki/releases"><b>ZIP file</b></a>.</i></p>
      </section>
      <section class="booksAndBlog">
        {% for note in notes %}
        <dl>
          <dt>{{ note.size }}</dt>
          <dd>
            <a href="pages/{{ note.filename }}">{{ note.title }}</a>
          </dd>
        </dl>
        {% endfor %}
      </section>
{% endblock %}
