{% extends "base.html" %}
{% block extra_preloads %}
  <link rel="preload" href="https://res.hajimehoshi.com/fonts/SuisseIntlMono-Regular-WebXL.woff2" as="font" crossorigin="anonymous">
{% endblock %}
{% block extra_styles %}
  <style>pre { overflow-x: auto; max-width: 100%; }</style>
{% endblock %}
{% block content %}
      <section class="note-header">
        <h2>{{ title }}</h2>
        <dl>
          <dt>File size</dt>
          <dd>{{ file_size }}</dd>
          <dt>Lines of code</dt>
          <dd>{{ loc }}</dd>
        </dl>
      </section>
      <section class="note-content">
        {{ content }}
      </section>
{% endblock %}
