<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Book Review: [BOOK TITLE] by [AUTHOR] - Gabriel Ong">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link preload="stylesheet" href="style.css" as="style">
  <link rel="stylesheet" href="style.css">
  <link rel="preload" href="https://res.hajimehoshi.com/fonts/SuisseIntl-Regular-WebXL.woff2" as="font" crossorigin="anonymous">
  <style>.thin-space:after{content:"\2006"}</style>
  <script src="script.js" defer></script>
  <title>GABRIEL ONG</title>
  <link rel="shortcut icon" href="./asset/blob.ico" type="image/x-icon">
</head>
<body>
  <div id="click-container"></div>
  <input type="button" id="dark-mode">
  <label for="dark-mode" id="">
    <img id="infinityButton" src="asset/roller.png" height="24" viewbox="0 -960 960 960" width="24"/>
  </label>

  <main>
    <article class="overallArticleTags">

      <section class="book-details">

        <h2>Book Title</h2>
        
        <dl>
          <dt>Author</dt>
          <dd>Author Name</dd>
          
          <dt>ISBN</dt>
          <dd>ISBN Number</dd>
          
          <dt>Category</dt>
          <dd>Fiction/Non-Fiction</dd>
          
          <dt>Rating</dt>
          <dd>*/5</dd>
          
          <dt>Date</dt>
          <dd>Day Month Year</dd>

        </dl>
      </section>
      
      <section class="review-content">
        
        <p>Add Book Review content here</p>

      </section>
    </article>

    <footer>
      <p>© 2023-<span id="current-year"></span> Gabriel Ong. All rights reserved.</p>
    </footer>
  </main>

  <div class="wrapper"></div>
</body>
</html>