<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Wiki Note: [NOTE_TITLE] - Gabriel Ong">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Gabriel Ong">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="[NOTE_TITLE] | Gabriel Ong Wiki">
  <meta property="og:description" content="Wiki Note: [NOTE_TITLE] - Gabriel Ong">
  <meta property="og:type" content="article">
  <meta property="og:image" content="https://gabrielongzm.com/asset/portrait/gong-2.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="[NOTE_TITLE] | Gabriel Ong Wiki">
  <meta name="twitter:description" content="Wiki Note: [NOTE_TITLE] - Gabriel Ong">
  <link rel="stylesheet" href="../style.css">
  <link rel="preload" href="https://res.hajimehoshi.com/fonts/SuisseIntl-Regular-WebXL.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="https://res.hajimehoshi.com/fonts/SuisseIntlMono-Regular-WebXL.woff2" as="font" crossorigin="anonymous">
  <style>
    .thin-space:after{content:"\2006"}
    pre {
      overflow-x: auto;
      max-width: 100%;
    }
  </style>
  <script src="../script.js" defer></script>
  <title>[NOTE_TITLE] | Gabriel Ong Wiki</title>
  <link rel="shortcut icon" href="../asset/blob.ico" type="image/x-icon">
</head>
<body>
  <div id="click-container"></div>
  <input type="button" id="dark-mode">
  <label for="dark-mode">
    <img id="infinityButton" src="../asset/roller.png" height="24" width="24"/>
  </label>

  <main>
    <article class="overallArticleTags">

      <section class="note-header">
        <h2>[NOTE_TITLE]</h2>

        <dl>
          <dt>File size</dt>
          <dd>[FILE_SIZE]</dd>

          <dt>Lines of code</dt>
          <dd>[LOC]</dd>
        </dl>
      </section>

      <section class="note-content">
        [CONTENT]
      </section>

    </article>

    <footer>
      <p>© 2023-<span id="current-year"></span> Gabriel Ong. All rights reserved.</p>
    </footer>
  </main>

  <div class="wrapper"></div>
</body>
</html>
